[Desktop Entry]
Name=Memento
Comment=A video player for studying Japanese
GenericName=A video player for studying Japanese
Exec=memento
Icon=memento.svg
Categories=Education;Languages;Qt;
Type=Application
Version=0.1